@import url("https://use.typekit.net/tiy4upm.css");
@import url("fonts/Gilroy/Gilroy.css");

/*Vanguard*/

@font-face {
    font-family: 'Vanguard';
    font-weight: lighter;
    src: url('lp_temp/fonts/Vanguard/VanguardCF-Thin.otf') format("opentype");
}

@font-face {
    font-family: 'Vanguard';
    font-weight: normal;
    src: url('lp_temp/fonts/Vanguard/VanguardCF-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Vanguard';
    font-weight: medium;
    src: url('lp_temp/fonts/Vanguard/VanguardCF-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'Vanguard';
    font-weight: bold;
    src: url('lp_temp/fonts/Vanguard/VanguardCF-Bold.otf') format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color: #010104;
    color: white;
    background-image: url(img/ellipse_13.png);
    background-size: cover;
}

body .bg {
    width: 100%;
    height: 1268px;
    position: absolute;
    top: 0px;
    z-index: -1;
}

body #bg-ellipse {
    background: url("img/ellipse_12.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}

body #stars {
    background: url("img/stars.png");
    background-repeat: repeat;
}

.container {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 50px auto 0px auto;
    width: 80%;
    font-family: 'Termina';
}

#title {
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
#title h2 {
    text-align: center;
}

#title h2 span{
    text-decoration: underline;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;

    padding: 100px 0px;
}

#logo img {
    height: 150px;
}
#logo p {
    font-family: 'Termina';
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, #FFFFFF, #5390D8);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
}

.ellipse-wrapper {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

#ellipse1 {
    float: left;
    margin: 20px;
    width: 50%;
    height: 80%;
    position: absolute;
    background-color: rgba(1, 7, 15, 0.80);
    filter: blur(100px);
    border-radius: 50%;
    transform: rotate(35deg);
    left: 30%;
    z-index: -1;
}

#video {
    margin: auto;
    width: 65%;
    height: 480px;
}

#video iframe {
    border-radius: 30px;
}

#items {
    margin: 87px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.item-wrapper a {
    font-family: 'Termina';
    font-weight: 700;
    font-size: 14px;
    color: #010104;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: -25px;
    width: 80%;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    border: 0.538px solid #CEE4FF;
    background: linear-gradient(264deg, #5390D8 -6.47%, #5390D8 -6.47%, #FFF 109.37%);
}
.item {
    font-family: 'Gilroy';
    font-weight: normal;
    text-align: center;
    width: 280px;
    padding: 0px 0px 20px 0px;
    border-radius: 30px;
    border: 0.678px solid #364960;
    background: #0C1A2A;
    background-size: contain;
    box-shadow: 0px 0px 83.318px 0px #03010E;
    overflow: hidden;
}

.item span {
    font-family: 'Gilroy';
    font-weight: 700;
}

.item h3 {
    font-family: 'Termina';
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    margin: 0px 0px 20px 0px;
    background: linear-gradient(88deg, #5390D8 3.85%, #070715 98.21%);
}
.item p {
    margin: 0px 30px;
    height: 120px;
}

/*Ultra-wide*/

@media (min-width: 2560px) {

}

/**/

@media (max-width: 1024px) {
    #items {
        margin: 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body .bg {
        width: 100%;
        height: 1800px;
    }
    body #bg-ellipse {
        background: url(img/ellipse_12_mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
    }
    #video {
        margin: auto;
        width: 100%;
        height: 480px;
    }
    .item {
        width: 100%;
        height: 190px;
    }
    .item-wrapper a {
        width: 80%;
    }
}

@media (max-width: 768px) {

    .container {
        width: 80%;
    }
    body .bg {
        width: 100%;
        height: 2056px;
    }
    #title h2 {
        width: 410px;
    }
    #video {
        margin: auto;
        width: 100%;
        height: 340px;
    }
}

@media (max-width:500px) {
    body .bg {
        width: 100%;
        height: 2056px;
    }
    #title h2 {
        font-size: 21px;
    }
    #video {
        margin: auto;
        width: 100%;
        height: 20vh;
    }
    .item {
        width: 280px;
        height: 230px;
    }
    #items {
        margin: 25px 0px;
    }
}